@import url("https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,300;0,600;0,700;0,800;1,400;1,500&family=Quicksand:wght@400;500;600;700&display=swap");

@import "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: @font-family;
  line-height: 1.6;
  background-image: url(https://themesbrand.com/lezir/layout/images/hero-1-bg-img.png);
}
