@import url("https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,300;0,600;0,700;0,800;1,400;1,500&family=Quicksand:wght@400;500;600;700&display=swap");

@import "variables";
@import "loops";
@import "mixins-and-func";
@import "extend";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: @font-family;
  line-height: 1.6;
  background-image: url(https://themesbrand.com/lezir/layout/images/hero-1-bg-img.png);
  background-size: cover;
  height: 1000px;
}

.container {
  max-width: 1000px;
  padding: 0 30px;
  margin: 0 auto;
  overflow: auto;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Muli", sans-serif;
}

.section {
  .set-bg-color(@bg-color);
  height: 700px;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      list-style-type: none;
    }

    li {
      font-size: 15px;
      padding: 15px;
    }
  }

  &-content {
    display: flex;

    .img-container {
      width: 50%;
    }

    h1 {
      font-size: 52px;
      line-height: 1.2;
      text-shadow: 3px 3px 6px rgb(14 10 65 / 25%);
    }

    .text-contaner {
      font-size: 17px;
      line-height: 1.8;

      .text {
        max-width: 400px;
      }
    }

    .subscribe-form {
      max-width: 350px;

      form {
        line-height: 1.5;
        color: #3b3950;
        font-weight: 500;
        position: relative;
        margin: 0 auto;
      }

      input {
        margin: 0;
        padding: 17px 20px;
        width: 100%;
        border: none;
        outline: none !important;
        padding-right: 160px;
        padding-left: 20px;
        background-color: #f0f2fa;
        border-radius: 4px;
      }

      button {
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        user-select: none;
        border-radius: 3px;
        padding: 12px 30px;
        font-size: 15px;
        font-weight: 700;
        cursor: pointer;
        background-color: #5a4fdc;
        border: 1px solid #5a4fdc;
        color: #fff;
        box-shadow: 0 4px 20px rgba(90, 79, 220, 0.15);
        position: absolute;
        top: 0;
        right: 5px;
        margin: 0;
        line-height: 1.5;
        transition: all 0.5s;
      }
    }
  }
}
